@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #fc354c;

    --background: -7 63.05% 4.8%;
    --foreground: -7 9.7% 98%;

    --muted: -7 48.5% 18%;
    --muted-foreground: -7 19.7% 49%;

    --popover: -7 45.6% 7.8%;
    --popover-foreground: -7 9.7% 98%;

    --card: -7 45.6% 7.8%;
    --card-foreground: -7 9.7% 98%;

    --border: -7 48.5% 18%;
    --input: -7 48.5% 18%;

    --primary: -7 97% 60%;
    --primary-foreground: -7 9.7% 6%;

    --secondary: -7 48.5% 18%;
    --secondary-foreground: -7 9.7% 98%;

    --accent: -7 48.5% 18%;
    --accent-foreground: -7 9.7% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -7 9.7% 98%;

    --ring: -7 97% 60%;
  }
}
